div.col-xs-12:nth-child(2) > p:nth-child(1){
	line-height:2em;	
}
section:nth-child(4) div.col-xs-12 > .row{
	margin-top:35px;
	margin-bottom:35px;	
}
section:nth-child(4) div.col-xs-12 > .row img{
	max-width:100%;
	border-radius:15px;	
}
section:nth-child(4) div.col-xs-12 > .row h3{
	margin-top:10px;
	margin-bottom:30px;
	font-size:21px;	
}
section:nth-child(4) div.col-xs-12 > .row ul li{
	margin-bottom:10px;
}